/* Container da tela inteira */
.login-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8faff;
  font-family: Arial, sans-serif;
}

/* Card de login/cadastro */
.login-panel {
  margin-top: 9em;
  width: 100%;
  max-width: 380px;
  max-height: 90vh;
  background-color: #fff;
  border: 1px solid #E0E6F5;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* rolagem só dentro do card se necessário */
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

/* Título */
.login-panel h2 {
  margin-bottom: 20px;
  color: #101B3D;
  font-size: 22px;
  font-weight: 600;
  flex-shrink: 0;
}

/* Inputs e labels */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #101B3D;
}

.form-group input {
  width: 100%;
  padding: 10px 10px;
  border:none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
  background-color: #f0f1f4;
}

/* Botão */
.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #0084FF, #006AD1);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.3s;
}

.login-btn:hover {
  background: linear-gradient(90deg, #006AD1, #004FA1);
  box-shadow: 0 4px 10px rgba(0,132,255,0.25);
}

/* Link de cadastro/login */
.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.link-btn {
  background: none;
  border: none;
  color: #FFC600;
  font-weight: bold;
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: underline;
  color: #e6ae00;
}

/* Erro de senha */
.error-msg {
  color: #d93025;
  font-size: 13px;
  margin-bottom: 10px;
}

/* Animação */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-12px); }
  to { opacity: 1; transform: translateY(0); }
}
