.thin-sidebar {
  width: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
  border-right: 2px solid #f6e1a7;
}

/* Botões laterais */
.thin-btn {
  background: #bf9010;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.25s ease;
}

.thin-btn-avatar.active {
  outline: 2px solid #3903ff;
  outline-offset: -2px;
}

/* Efeito hover */
.thin-btn:hover {
  background: #e1ac22;
  transform: scale(1.05);
}
/* Badge de notificação */
.thin-btn .badge {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  border: 1px solid #fff; /* opcional para destaque */
}

.thin-btn-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0.5rem 0;
  padding: 0;
  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thin-btn-avatar img.avatar-btn {
  width: 100%;
  object-fit: cover;
}
