/* Reset básico e fonte global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e4e6; /* cinza claro */
  min-height: 100vh;
}

/* Ajuste para o conteúdo não ficar atrás do header */
main {
 
  padding-top: 7rem; /* altura do header */
}


/* Links padrão */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões padrão */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

